.container{

width:min(var(--container),92%);

margin-inline:auto;

}

.section{

padding:7rem 0;

}

.text-gradient{

background:linear-gradient(
90deg,
var(--primary),
var(--secondary)
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

background-clip:text;

}